#form-container {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 600px;
}

#form-container h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 34px;
    margin-bottom: -20px;
}

#new-route-form .form-group:first-child {
    padding-top: 30px;
}

#new-route-form label {
    font-size: 20px;
    padding-bottom: 4px;
}

#btn-container {
    display: flex;
    justify-content: center;
}

#submit-btn {
    margin-top: -10px;
    height: 50px;
    width: 150px;
    background-color: #0d6efd;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
}

.invalid-field {
    font-size: 16px;
    color: #ff3860;
}

#error-message {
    font-size: 30px;
    font-weight: 500;
    padding-top: 20px;
    text-align: center;
    color: #ff3860;
}

#train-type {
    width: 250px;
}